.testimonial-slide {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0578eb;
    color: #fff;
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}


/* footer style */

.footer {
    /* background-color:rgb(13 110 253); */
   
    color: white;
    padding: 3rem 0 1rem;
}


.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.social-icons a:hover {
    color: white;
}

.social-icons a {
    color: #ffffff;
    background-color: #6c757d;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    transition: all 0.3s ease;
}
.social-icons a:hover {
    transform: translateY(-3px);
}
.social-icons a.facebook:hover {
    background-color: #e9640b;
}
.social-icons a.twitter:hover {
    background-color: #1da1f2;
}
.social-icons a.instagram:hover {
    background-color: #e1306c;
}
.social-icons a.linkedin:hover {
    background-color: #0077b5;
}
.social-icons a.youtube:hover {
    background-color: #ff0000;
}

